---
import Layout from '../layouts/Layout.astro';

---


<Layout title="Evolts Automobiles">
	<div class="main-panel">
	  <div class="center">
		<h1>Comining soon</h1>
		
	  </div>
	</div>
</Layout>

	