---
import Layout from '../layouts/Layout.astro';

---


<Layout title="Evolts Automobiles">
	<div class="main-panel">
	  <div class="center">
		<h1>Bienvenue chez E-volts Automobiles</h1>
		<a href="/login">Connexion</a>
	  </div>
	</div>
</Layout>

	

